# Composer -- ignore vendor directory and composer.lock, see:
# http://getcomposer.org/doc/01-basic-usage.md#installing-dependencies
/composer.lock
/vendor/

# Test coverage data directory
/tests/coverage/

# User configuration data
/config/*.yaml
/config/*.yml
!/config/config.sample.yaml
